In [19]:
import pandas as pd
import pickle
from tqdm import tqdm
import gzip
import numpy as np
import pandas as pd
tqdm.pandas()

DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'

import pickle

In [20]:
with open ('ya_reviews_lemmetized.pkl', 'rb') as f:
    ya_reviews = pickle.load(f)

ya_reviews.head()

,book_id,review_id,rating,all_caps,review_text_lemmatized
0,2767052,248c011811e945eca861b5c31a549291,5,0,i crack and finally pick this up very enjoyabl...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,0,i read this book because my fifth grade son be...
2,18053080,785c8db878f4009da9741dea51f641da,4,0,though the book start out slow and only start ...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,0,after some sleep i think about allegiant overa...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,0,this be a move heartbreaking view into a life ...

In [24]:
#drop rating and all_caps from the dataframe
ya_reviews = ya_reviews.drop(['rating', 'all_caps'], axis=1)

In [22]:
with open (DIR + 'ya_reviews.pkl', 'rb') as f:
    ya_reviews_2 = pickle.load(f)

ya_reviews_2.head()

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...

In [23]:
ya_reviews_2[ya_reviews_2['all_caps']==1]

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
7,6148028,a19c6c44a40a88c8ff825f40118a9c7c,5,LOVED IT!!,0,0,1,loved it!!
9,13206828,1d5b64fe0408bb5e1824d14631ccb5ee,5,LET'S JUST SAY I AM SO THANKFUL I HAVE THE NEX...,0,0,1,lets just say i am so thankful i have the next...
11,13206760,1fc0c08b3224b734b51996989ce52344,5,I didn't know if I would enjoy the book being ...,0,0,1,i didnt know if i would enjoy the book being s...
15,9593913,61f67f77d2605022de5cf746e13d31c2,3,The ending felt really abrupt. I feel like the...,0,3,1,the ending felt really abrupt i feel like ther...
16,26074181,c79dd0093c7d13b6843d1c8050eb7231,3,*Minor spoilers* \n Okay... Listen... I love t...,0,0,1,*minor spoilers* okay listen i love this ser...
...,...,...,...,...,...,...,...,...
2389859,8306857,33110c01bc8250f8e7f51c7fe15e6a49,5,One word to describe this book. AMAZING.,0,0,1,one word to describe this book amazing
2389874,53168,8c27039296e09d4cc750fb9cb31d96bb,5,A great story yet again. MUST READ!,0,0,1,a great story yet again must read!
2389877,28187,e4c4ccb591b7b316e528a62ffe50293e,3,Okay--my girls will be mad I gave it three sta...,0,0,1,okaymy girls will be mad i gave it three stars...
2389885,764347,570c65cfc24fea8209b2530a67b5b9fc,5,OMG I LOVED THIS BOOK!!!!!!!!!!!!!!!!!!!!!!!!!...,0,0,1,omg i loved this book!!!!!!!!!!!!!!!!!!!!!!!!!...
2389888,9520360,f727f6a1c581970abb463ca57c968db4,3,UGGGGGGGGGGGGGGGGGGGG I liked The Lost Hero mu...,0,0,1,ugggggggggggggggggggg i liked the lost hero mu...

In [25]:
#merge the two dataframes on book_id and review_id
ya_reviews_merge = pd.merge(ya_reviews, ya_reviews_2, on=['book_id', 'review_id'])
ya_reviews_merge

,book_id,review_id,review_text_lemmatized,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
0,2767052,248c011811e945eca861b5c31a549291,i crack and finally pick this up very enjoyabl...,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,i read this book because my fifth grade son be...,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...
2,18053080,785c8db878f4009da9741dea51f641da,though the book start out slow and only start ...,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...
3,17383543,34dc3c45d07e82718b05e73167259aef,after some sleep i think about allegiant overa...,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,this be a move heartbreaking view into a life ...,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...
...,...,...,...,...,...,...,...,...,...
2388649,6137154,1f6fc20b8187e8f36e12daf947b13e66,a really amazing book ! it go great with grace...,5,A really amazing book! It goes great with Grac...,0,0,0,a really amazing book! it goes great with grac...
2388650,10193062,fc86ebe129a7f14a09c0221c92f52f79,this book be well then the first it have it be...,3,This book is better then the first. It has it'...,0,0,0,this book is better then the first it has its ...
2388651,6186357,15d0f64aa991f270c490e1a4d5b4011b,i think this may have come from have expectati...,2,I think this may have come from having expecta...,0,0,0,i think this may have come from having expecta...
2388652,14740456,b048505c5b1e9ab8695afa3edce1b5d9,i generally like the book it have some part th...,4,I generally liked the book. It had some parts ...,0,0,0,i generally liked the book it had some parts t...
2388653,7137327,9e332909706db667f28cd16567bbea07,to be honest i would probably rank it some whe...,3,To be honest I would probably rank it some whe...,0,0,0,to be honest i would probably rank it some whe...

## Importing and prelim column selection

In [51]:
import re

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review .* https?//\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review @ katies corner', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'http\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review', '', x))

  0%|          | 0/2388654 [00:00<?, ?it/s]

100%|██████████| 2388654/2388654 [00:05<00:00, 449754.66it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 468721.76it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 431106.77it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 430991.41it/s]

In [53]:
ya_reviews_merge

,book_id,review_id,review_text_lemmatized,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
0,2767052,248c011811e945eca861b5c31a549291,i crack and finally pick this up very enjoyabl...,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,i read this book because my fifth grade son be...,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...
2,18053080,785c8db878f4009da9741dea51f641da,though the book start out slow and only start ...,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...
3,17383543,34dc3c45d07e82718b05e73167259aef,after some sleep i think about allegiant overa...,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,this be a move heartbreaking view into a life ...,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...
...,...,...,...,...,...,...,...,...,...
2388649,6137154,1f6fc20b8187e8f36e12daf947b13e66,a really amazing book ! it go great with grace...,5,A really amazing book! It goes great with Grac...,0,0,0,a really amazing book! it goes great with grac...
2388650,10193062,fc86ebe129a7f14a09c0221c92f52f79,this book be well then the first it have it be...,3,This book is better then the first. It has it'...,0,0,0,this book is better then the first it has its ...
2388651,6186357,15d0f64aa991f270c490e1a4d5b4011b,i think this may have come from have expectati...,2,I think this may have come from having expecta...,0,0,0,i think this may have come from having expecta...
2388652,14740456,b048505c5b1e9ab8695afa3edce1b5d9,i generally like the book it have some part th...,4,I generally liked the book. It had some parts ...,0,0,0,i generally liked the book it had some parts t...
2388653,7137327,9e332909706db667f28cd16567bbea07,to be honest i would probably rank it some whe...,3,To be honest I would probably rank it some whe...,0,0,0,to be honest i would probably rank it some whe...

In [57]:
#drop review_text and review_text_clean
ya_reviews_merge = ya_reviews_merge.drop(['review_text', 'review_text_clean'], axis=1)

In [58]:
#ya reviews to pickles
ya_reviews.to_pickle(DIR + 'ya_reviews_cleaned_21824.pkl')